.memory-container {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 15px auto;
}

.card-grid {
  margin-left: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}
